@model IEnumerable<Interfaces_Extensions.Models.Students>

@{
    ViewBag.Title = "OrderByName";
}

<h2>OrderByName</h2>

<p>
    @Html.ActionLink("Back to Index", "Index")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
                @if (item.Name[0] == ViewBag.letter)
        {
            <td style="color:#03c108;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        }
    </tr>
}

</table>
